apiVersion: v1
kind: BuildConfig
metadata:
  name: python-iuliu
spec:
  # output to an ImageStream in your project
  output:
    to:
      kind: ImageStreamTag
      name:  python-iuliu:3.0
  # Repo which contains the Dockerfile and any other requirements for it
  source:
    git:
      uri: https://github.com/cgabriel1304/seleniumpy.git
    type: Git
  # the dockerStrategy runs a build of a Dockerfile from the specified source repository and base image
  strategy:
    dockerStrategy:
      from:
        kind: ImageStreamTag
        name: python-iuliu:3.0
        namespace: openshift
    type: Docker
  # this ImageChange trigger will automatically keep your base image up to date with the original image
  # if you are using the included OpenShift images, every time we update them this build will be run
  # remove the trigger here or in your DeploymentConfig if you want to update the image manually
  triggers:
  - type: ImageChange
    imagechange:
      from:
        kind: "ImageStreamTag"
        name: "python-iuliu:3.0"
        namespace: openshift
  resources: {}